<div class="projects">
    <div class="web-app-project">
        <h1>Web Applications Project:</h1>
        <p>Presentation on the Java Server Faces Framework</p>
    </div>
    <div class="os-project">
        <h1>Operating Systems Project:</h1>
        <p>Analysis of Android Operating System</p>
    </div>
    <div class="db-project">
        <h1>Database Systems Project:</h1>
        <p>Analysis of NoSQL Databases</p>
    </div>
    <div class="web-services-project">
        <h1>Web Services Project:</h1>
        <p>Web Application built with Angular using a .NET Core API backend. Hosted on AWS</p>
    </div>
    <div class="ml-project">
        <h1>Machine Learning Project:</h1>
        <p>Analysis of Convolutional Neural Networks</p>
    </div>
    <div class="web-app-project">
        <h1>Web Applications Project:</h1>
        <p>Presentation on the Java Server Faces Framework</p>
    </div>
    <div class="os-project">
        <h1>Operating Systems Project:</h1>
        <p>Analysis of Android Operating System</p>
    </div>
    <div class="db-project">
        <h1>Database Systems Project:</h1>
        <p>Analysis of NoSQL Databases</p>
    </div>
    <div class="web-services-project">
        <h1>Web Services Project:</h1>
        <p>Web Application built with Angular using a .NET Core API backend. Hosted on AWS</p>
    </div>
    <div class="ml-project">
        <h1>Machine Learning Project:</h1>
        <p>Analysis of Convolutional Neural Networks</p>
    </div>
</div>
