.main-container
{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.link-container
{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.fixed-container
{
    width: 100%;
    position: fixed;
    left: 50%;
    margin-left: -50%;
    height: 100px;
    top: 0;
    background-color: lightsteelblue;
}

.content-container
{
    margin-top: 100px;
    height: 100%;
}

.banner-container h1,h2
{
    margin: 0;
}

.anchor 
{
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.home-container
{
    height: 200px;
    background-color: black;
    margin-bottom: 600px;
}

.about-container
{
    height: 200px;
    background-color: black;
    margin-bottom: 600px;
}

.projects-container
{
    height: 200px;
    background-color: black;
    margin-bottom: 600px;
}

a
{
    text-decoration: none;
    color: white;
}

.link-container a:hover
{
    color: red;
}