.main-container
{
    height: 90%;
    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.link-container
{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: red;
}