<div class="main-container" [ngClass]="{'fade-in': fadeIn}">
    <div class="fixed-container">
        <div class="banner-container">
            <h1>William Vukasovic</h1>
            <h2>Software Developer</h2>
        </div>
        <div class="link-container">
            <nav>
                <a href="#home">Home</a>
            </nav>
            <nav>
                <a href="#about">About Me</a>
            </nav>
            <nav>
                <a href="#projects">Projects</a>
            </nav>
        </div>
    </div>
    <div class="content-container">
        <a id="home" class="anchor"></a>
        <div class="home-container">
            <app-home></app-home>
        </div>
        <a id="about" class="anchor"></a>
        <div class="about-container">
            <app-about-me></app-about-me>
        </div>
        <a id="projects" class="anchor"></a>
        <div class="projects-container">
            <app-projects></app-projects>
        </div>
    </div>
</div>