/* You can add global styles to this file, and also import other style files */
html, body
{
    height: 100%; 
    margin: 0;
    padding: 0;
}

.background
{
    height: 100%;
    background-image: url(assets/images/liz-weddon-598028-unsplash.jpg);
}

.parallax
{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}