/* You can add global styles to this file, and also import other style files */
html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
}

/* html
{
    background: url(assets/images/liz-weddon-598028-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
} */