.home-container
{
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

p
{
    margin: 0;
    padding-top: 10px;
}